   .cbox{
      color: white;
      border: 5px;
      background-color: black;
   }
   .arow{

      border: 3px;
      background-color: blue;
   }
   
   .adiv{
         height: 60px;
         background-color: aqua;
   }
   .bdiv{
      height: 60px;
      background-color: brown;
   }
   .cdiv{
      height: 60px;
      background-color: blue;
   }
   .ddiv{
      height: 60px;
      background-color: red;
   }
   .ediv{
      height: 60px;
      background-color: yellow;
   }
   .fdiv{
      height: 60px;
      background-color: green;
   }